* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Imported Font for the logo*/
@font-face {
  font-family: "RainyDay";
  src: url("kalem.ttf");
}

/*Imported font for the nav*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');







/*----------------------------------*/
/*Style for the header & nav section*/
/*----------------------------------*/

header {
  align-items: center;
}

header .logo /*Style for the rainy day logo*/
{
font-family: 'RainyDay';
color: white;
font-size: 3.5rem;
cursor: pointer;
padding-left: 1rem;
padding-top: 1rem;
}

.primary-navigation {
  list-style: none;
  padding: 1rem;
  margin: 0;
  background: hsl(0, 0%, 0%, 0.5);
  padding-block: 1.5rem;
  padding-inline: clamp(1rem, 1vw, 6rem);
}

@supports (backdrop-filter: blur(5px)) or (--webkit-backdrop-filter: blur(5px)) {
  .primary-navigation {
    background: hsl(0, 0%, 0%, 0.3);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
  }
}

.mobile-nav-toggle{
  display: none;
}

.primary-navigation a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Poppins';
  padding-left: .5rem;
  padding-right: .5rem;
}






/*----------------------------------*/
/*Style for the showcase section*/
/*----------------------------------*/

.showcase
{
position: absolute;
right: 0;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
background: #111;
z-index: 2;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  }

.showcase video
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
opacity: .7;
z-index: -200000;
}






/*----------------------------------*/
/*Style for the insta and email*/
/*----------------------------------*/

.social
{
position: absolute;
z-index: 10;
bottom: 5px;
left: 1rem;
display: flex;
justify-content: center;
align-items: center;
}
.social li
{
list-style: none;
}
.social li a
{
display: inline-block;
margin-right: 0;
filter: invert(1);
transform: scale(0.5);
transition: 0.5s;
}
.social li a:hover /*Effect where it moves up when*/
{
transform: scale(0.5) translateY(-15px);
}



/*utility classes*/

.flex {
  display: flex;
  align-items: center;
}

.sr-only {
  visibility: hidden;
}


/*Style for different viewports*/

@media (max-width: 35em)
{


  .overlay
  {
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
  }

.showcase {
  height: 100vh;

  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

.bckVID {
  z-index: -200000;
}

header .logo {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(79, 79, 79, 0.8));
}


.primary-navigation {
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 50%;

  flex-direction: column;
  padding: min(30vh, 50%) 2em;
  row-gap: 1rem;
}

.primary-navigation a {
  font-size: 1.2rem;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
  transition: transform 350ms ease-out;
}

.primary-navigation[data-visible="false"] {
  transform: translateX(100%);
  transition: transform 350ms ease-out;
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  background: url('menu.svg');
  background-repeat: no-repeat;
  border: 0;
  width: 30px;
  height: 30px;
  top: 1rem;
  right: 1rem;
}

.mobile-nav-toggle[aria-expanded="true"]{
  background: url(close.svg)
}

.social li a:hover /*Used to stop the logos moving upwards on mobile*/
{
transform: scale(.5) translateY(0px);
}

}